*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#terminal{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: #000000;
	color: #8AE234;
	font-family: monospace;
	font-size: 16px;
	padding: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.outputLine{
	/*display: block;*/
}

pre{
	display: inline;
}

#textInput{
	background-color: transparent;
	border: 0px;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	outline: none;
	width: 400px;
}

a{
	color: inherit;
	text-decoration: inherit;
}

span.colFolder{
	color: #7799CC;
}

span.sysout{
	color: #AAAAAA;
}

span.syserr{
	color: #FF0000;
}
